{% extends "corenet_admin/base.htm" %}

{% block container_head %}
{% include 'corenet_admin/container_head.html' %}
{% endblock %}

{% block contentwrapper %}
<body>

    <input type="file" id="file" class="custom-file-input">

    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.file-input.js"></script>
	
  </body>
{% endblock %}

{% block sidebar %}
{% include 'corenet_admin/sidebar.html' %}
{% endblock %}